<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Drone Plant Health Monitor</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body class="flex">
  <main>
    <h1 class="center">Plant Health Monitor v0</h1>
    <section id="start">
      <webview id="map" src="map.html" style="height: 80vh"></webview>
      <button class="btn">Launch</button>
    </section>
    <section id="process" class="centered hidden">
      <p>Insert SD card into computer, and then select drive letter</p>
      <select name="sd-drive-letter" class="mx-auto">
        <option value="d">D:</option>
        <option value="e">E:</option>
        <option value="f">F:</option>
        <option value="g">G:</option>
      </select>
      <button class="btn mt-1">Process Run</button>
    </section>
    <section id="results" class="hidden">
      <!-- From CSS Secrets -->
      <div class="comparison-wrapper">
        <div id="top-image">
          <img id="marked" />
        </div>
        <img id="stitched" />
        <input id="comparison-selector" type="range" />
      </div>
    </section>
  </main>
  <footer id="status">
    <div id="connection-status" class="unknown">Drone Status: <span>Checking...</span></div>
    <div id="current-action">Status: <span>Waiting for you</span></div>
  </footer>
</body>
<script>
  if (!navigator.onLine) {
    document.querySelector('#start').innerHTML = "You are not online. Interactive map selection will not work.";
    throw new Error('ENOTONLINE');
  }

  // Set up inter-process-communication between the backend and the renderer
  require('./components/ipc').init();
  const states = require('./components/states');
  states[0]].activate();
</script>
</html>