<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Drone Plant Health Monitor</title>
  <link rel="stylesheet" href="./styles.css">
</head>
<body>
  <main>
    <h1><center>Plant Health Monitor v0</center></h1>
    <section id="start">
      Enter coordinates to begin:<br/>
      <button class="btn">Launch</button>
    </section>
  </main>
  <footer>
    <div id="status">
      <div id="connection-status" class="unknown">Drone Status: <span>Checking...</span></div>
      <div id="current-action">Status: <span>Waiting for you</span></div>
    </div>
  </footer>
</body>
<script>
  if (!navigator.onLine) {
    document.querySelector('#start').innerHTML = "You are not online. Interactive map selection will not work.";
    throw new Error('ENOTONLINE');
  }

  require('./components/ipc').init();
  const states = require('./components/states');
  states[0].init();
</script>
</html>