<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Drone Plant Health Monitor</title>
</head>
<body>
  const {ipcRenderer} = require('electron');
  ipcRenderer.on('backend-response', (_, [name, data]) => {
    console.log(`Backend Response (${name})`, data);
  });

  ipcRenderer.on('renderer-error', (_, error) => {
    window.alert(error);
  });

</body>
</html>